<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
	<title>HTML 5 theme</title>
</head>
<body>
	<section>
		<div class="menu">
			<div class="logo">
				{{page.logo}}
			</div>
			<ul> 
				{{page.navbar}}
			</ul>
		</div>
	</section>

	<section>
		{{page.land}}
		<div class="tint"> </div>
		<div class="land">
			<div class="heading">

					<h1> {{page.siteheading}} </h1>
					
			</div>
			<div class="line"></div>
			<div class="status">
				The Best CMS Platform
			</div>
			<div class="top-hero-heading">
				<h1> Welcome to Drupal 8  </h1>
				<p> While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. How could I select the latest revision version of the node? </p>
			</div>
		</div>
	</section>

	<section>
		
		<div class="thefirst">
			<div class="article">
				{{page.content}}
			</div>
		</div>
	</section>

	<section>
		<div class="footprint">
			<div class="footprint-article">
				<h2> How big is your environmental footprint</h2>
				<p> While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. How could I select the latest revision version of the node? </p>
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid">
			 <div class="row">
    			<div class="col-lg-4">
    				{{page.footerbig}}
    			</div>
			    <div class="col col-lg-2">
			    	{{page.footerone}}
			      <h2> Column One Title</h2>
      				<p> While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. How could I select the latest revision version of the node? </p>
			    </div>
			    <div class="col col-lg-2">
			    	{{page.footertwo}}
			      <h2> Column Two Title</h2>
      				<p> While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. How could I select the latest revision version of the node? </p>
			    </div>
			    <div class="col col-lg-2">
			    	{{page.footerthree}}
			      <h2> Column Three Title</h2>
      				<p> While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. How could I select the latest revision version of the node? </p>
			    </div>
			    <div class="col col-lg-2">
			    	{{page.footerfour}}
			     <h2> Column Four Title</h2>
      				<p> While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. While inner joining Node with Node Revision table , If the node has been revised multiple times the above code returns multiple results. How could I select the latest revision version of the node? </p>
			    </div>
  			</div>
		</div>
	</section>

	<footer>
		{{page.footerbotom}}
	</footer>

</body>
</html>